@font-face{
    font-family:"helvetica";
    src:url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("woff"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("opentype"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("truetype");
}

:root {
    --main: #0E5839;
    --white: #ffffff;
    --poppins: 'Poppins';
    --text-primary: #000000;
    --text-secondary: #555;
    --bg-green: #F2F7F5;
    --gray-gray-700: #2D3748;
    --text-t: #999;
    --gray-gray-700: #2D3748;
}

html * {
    font-family: var(--poppins);
}

body{
    padding: 0px !important;
    margin: 0px !important;
}

.container{
    margin: 0px !important;
    padding: 0px !important;
}

.btn-icon{
    margin-top: -2px;
}

.btn-primary{
    border-radius: 8px !important;
    background: var(--main) !important;
    border-color: var(--main) !important;
    color: var(--white) !important;
}

.btn-primary-text{
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: normal !important;
}

.btn-primary:hover{
    background: var(--white) !important;
    border-color: var(--main) !important;
    color: var(--main) !important;
}

.btn-secondary{
    border-radius: 8px !important;
    background: var(--white) !important;
    border-color: var(--white) !important;
    color: var(--main) !important;
}

.btn-secondary:hover{
    border-color: var(--main) !important;
    color: var(--main) !important;
}

/*  Card */
.blog-card,
.twitter-card{
    width: 355px !important;
}
.blog-card .card-body{
    padding: 24px !important;
}

.twitter-card .card-body{
    padding: 32px !important;
}

.card .card-body .card-title{
    color: var(--main);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card .card-body .card-text{
    color: var(--text-secondar);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card .card-body .card-foot-text{
    font-weight: 500;
}

.card .card-body .blog-card-btn{
    color: var(--white);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.twitter-card .card-body .card-text{
    display: flex;
    flex-direction: column;
}

.twitter-card .card-body .card-text .user{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.twitter-card .card-body .card-text .user .dp{
    width: 64px;
    height: 64px;
    border-radius: 64px;
    margin-right: 16px;
}

.twitter-card .card-body .card-text .user .user-info{
    display: flex;
    flex-direction: column;
}

.twitter-card .card-body .card-text .user .user-info .handle{
    color: var(--text-secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.twitter-card .card-body .card-text .user .user-info .name-icon{
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.twitter-card .card-body .card-text .user .user-info .name-icon .name{
    color: var(--text-primary);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 10px;
}

.twitter-card .card-body .card-text .user .user-info .name-icon .icon .iconify{
    font-size: 24px;
    color: #1DA1F2;
    margin-top: 2px;
}

.twitter-card .card-body .card-text .tweet{
    color: var(--text-secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}

.twitter-card .card-body .card-text .footer-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.twitter-card .card-body .card-text .footer-info .user-timestamp,
.twitter-card .card-body .card-text .footer-info .seperator,
.twitter-card .card-body .card-text .footer-info .device{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.twitter-card .card-body .card-text .footer-info .user-timestamp,
.twitter-card .card-body .card-text .footer-info .seperator{
    color: var(--text-secondary);
}

.twitter-card .card-body .card-text .footer-info .device{
    color: #2AA3EF;
    letter-spacing: -0.42px;
}

.info-card{
    border-radius: 8px !important;
    border: none !important;
    box-shadow: 1px 3.500000238418579px 5.500000476837158px 3px rgba(0, 0, 0, 0.05);
    width: 31% !important;
    /* min-width: 370px; */
    height: 82px !important;
}

.info-card .card-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.info-card .card-body .info-content .key{
    color: var(--text-t);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 18px */
    margin-bottom: 4px;
}

.info-card .card-body .info-content .value{
    color: var(--gray-gray-700);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 28px */
}

.info-card .card-body .info-icon{
    width: 45px;
    height: 45px;
    background-color: var(--main);
    border-radius: 8px;
    padding: 10px 12px;
}

.info-card .card-body .info-icon .iconify{
    font-size: 21px;
    color: var(--white);
}
.vault-chart-card{
    border: none !important;
    min-width: 370px !important;
    margin-bottom: 24px;
}

.vault-chart-card .card-body .chart-title-section{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.vault-chart-card .card-body .chart-title-section .icon{
    margin-right: 8px;
}

.vault-chart-card .card-body .chart-title-section .icon .iconify{
    font-size: 32px;
    color: #5F7A6F;
}

.vault-chart-card .card-body .chart-title-section .title{
    color: var(--text-primary);
    margin-top: 2px;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
}

.vault-chart-card .card-body .chart-text{
    margin-bottom: 8px;
}

.vault-chart-card .card-body .chart-text .key{
    color: var(--text-t);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 18px */
    margin-bottom: 3px;
}

.vault-chart-card .card-body .chart-text .value{
    color: var(--text-primary);
    font-family: 'Helvetica' !important;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 25.2px */
}

.vault-chart-card .card-body .chart-text .value span{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 19.6px */
}

.green{
    color: #48BB78;
}

.red{
    color: #E53E3E;
}

/* Accordion */
.custom-accordion{
    width: 100%;
}

.custom-accordion .accordion-card{
    display: flex !important;
    padding: 0px !important;
    flex-direction: column;
    border-radius: 8px !important;
    background: var(--white) !important;
    margin-bottom: 24px;
    border: none !important;
    transition: border 0.3s ease-in 0s;

}

.custom-accordion .opened-wrap.accordion-card{
    border: 2px solid var(--main) !important;
    border-radius: 8px !important;

}

.custom-accordion .accordion-card .accordion-header-wrapper{
    background: var(--white) !important;
    border-radius: 8px !important;
    width: 100%;
    height: 100%;
}
.custom-accordion .accordion-card .accordion-header-wrapper .accordion-header{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    padding: 24px !important;
    width: 100%;
    height: 100%;
    background: var(--white) !important;
    border-radius: 8px !important;
    border: none !important;
}

.custom-accordion .accordion-card .accordion-header-wrapper .accordion-header .accordion-text{
    color: var(--text-primary);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.custom-accordion .accordion-card .accordion-header-wrapper .accordion-header .icon-wrapper{
    background: var(--white);
    padding: 1.5px 2px;
    box-shadow: 1px 3.500000238418579px 5.500000476837158px 3px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    transition: all 0.3s ease-in 0s;
    transition-property: background-color, transform;
}

.custom-accordion .opened-wrap.accordion-card .accordion-header-wrapper .accordion-header .icon-wrapper{
    background-color: var(--main);
    transform: rotate(90deg);
}

.custom-accordion .accordion-card .accordion-header-wrapper .accordion-header .icon-wrapper .iconify{
    font-size: 32px;
    color: var(--main);
    transition: all 0.3s ease-in 0s;
    transition-property: color;
}

.custom-accordion .opened-wrap.accordion-card .accordion-header-wrapper .accordion-header .icon-wrapper .iconify{
    color: var(--white);
}

.custom-accordion .accordion-card .card-body .content{
    color: var(--text-secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Frame */
.frame-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

.frame-wrapper .side-nav{
    min-width: 232px;
    height: 100vh;
    background: #083321;
    position: sticky;
    top: 0;
    left: 0;
}

.frame-wrapper .side-nav .side-nav-wrapper{
    width: 100%;
    padding: 32px 10.3%;

}

.frame-wrapper .side-nav .side-nav-wrapper .logo{
    margin-bottom: 32px;
}

.frame-wrapper .side-nav .side-nav-wrapper .side-nav-links{
    display: flex;
    flex-direction: column;
}

.frame-wrapper .side-nav .side-nav-wrapper .side-nav-links a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    padding: 8px;
    width: 100%;
}

.frame-wrapper .side-nav .side-nav-wrapper .side-nav-links a .icon{
    margin-right: 8px;
    padding: 8px 12px;
    border-radius: 50%;
    background: var(--white);
    box-shadow: 0px 3.500000238418579px 5.500000476837158px 0px rgba(0, 0, 0, 0.02);
}

.frame-wrapper .side-nav .side-nav-wrapper .side-nav-links a .icon .iconify{
    font-size: 16px;
    color: var(--main);
}

.frame-wrapper .side-nav .side-nav-wrapper .side-nav-links a .link-text{
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    top: 9px;
}

.frame-wrapper .side-nav .side-nav-wrapper .side-nav-links .active{
    border-radius: 8px;
    background: var(--white);
    box-shadow: 0px 3.500000238418579px 5.500000476837158px 0px rgba(0, 0, 0, 0.02);
}

.frame-wrapper .side-nav .side-nav-wrapper .side-nav-links .active .icon{
    background: var(--main);
}

.frame-wrapper .side-nav .side-nav-wrapper .side-nav-links .active .icon .iconify{
    color: var(--white);
}

.frame-wrapper .side-nav .side-nav-wrapper .side-nav-links .active .link-text{
    color: var(--gray-gray-700);
}

.frame-wrapper .body-contents{
    width: 100%;
}

/* Header */
header{
    display: flex;
    width: 100%;
    padding: 16px 1.6%;
    background: var(--white);
    box-shadow: 1px 3.500000238418579px 5.500000476837158px 3px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    right: 0;
    z-index: 4;
}

header .home-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

header .other-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

header .other-header .indicator{
    margin-right: -3px;
}

header .other-header .indicator .iconify{
    font-size: 16px;
    color: #D9D9D9;
    position: relative;
    top: 3px;
}

header .other-header .select-dropdowns{
    margin-right: 20px;
}

header .other-header .select-dropdowns .form-select{
    border: none;
    color: var(--text-secondary);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



/* Footer */
footer{
    background: var(--text-primary);
    padding: 96px 11%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer .footer-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 34px;
    align-self: stretch;
}

footer .footer-wrapper .footer-info .footer-logo{
    margin-bottom: 24px;
}

footer .footer-wrapper .footer-info .info{
    color: var(--white);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 400px;
}

footer .footer-wrapper .footer-links ul{
    margin-top: 10px;
}

footer .footer-wrapper .footer-socials .icons ul{
    margin-top: -10px;
}

footer .footer-wrapper .footer-links ul,
footer .footer-wrapper .footer-socials .icons ul{
    list-style-type: none;
    padding-left: 0px !important;
}

footer .footer-wrapper .footer-links ul li{
    margin-bottom: 16px;
}

footer .footer-wrapper .footer-links ul li a{
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

footer .footer-wrapper .footer-links ul li a:hover{
    text-decoration: underline;
}

footer .footer-wrapper .footer-socials .icons ul{
    display: flex;
    flex-direction: row;
    margin-bottom: 41.5px;
}

footer .footer-wrapper .footer-socials .icons ul li{
    margin-right: 16px;
}

footer .footer-wrapper .footer-socials .icons ul li a{
    color: var(--white);
    font-size: 29px;
}

footer .footer-wrapper .footer-socials .footer-sub-form{
    width: 100%;
}

footer .footer-wrapper .footer-socials .footer-sub-form .form-label{
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 8px;
}

footer .footer-wrapper .footer-socials .footer-sub-form .sub-form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .footer-wrapper .footer-socials .footer-sub-form .sub-form .sub-input{
    width: 60%;
}

footer .footer-wrapper .footer-socials .footer-sub-form .sub-form .sub-btn{
    width: 35%;
}

footer .footer-wrapper .footer-socials .footer-sub-form .sub-form .sub-input input,
footer .footer-wrapper .footer-socials .footer-sub-form .sub-form .sub-input input::placeholder{
    color: var(--text-secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%
}

/* Home */
.landing{
    width: 100vw;
    background: var(--main);
    display: inline-flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 560px;
    z-index: 1;
}

.landing .elipse{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/loading.png);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 2;
}

.landing .landing-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.landing .landing-content .title{
    color: var(--white);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 17px;
}

.landing .landing-content .sub-title{
    color: var(--white);
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 40px;
}

.landing .landing-content .landing-btn .btn-secondary{
    padding: 12px 16px !important;
}

.latest-blog,
.latest-tweets,
.faqs{
    padding: 104px 11%;
    display: inline-flex;
    flex-direction: column;
    width: 100vw;
}

.latest-blog, .faqs{
    background: var(--bg-green);
}


.latest-blog .header,
.latest-tweets .header,
.faqs .header{
    margin-bottom: 48px;
    color: var(--text-primary);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.latest-blog .blog-cards,
.latest-tweets .tweet-cards,
.faqs .accordion-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Other Pages */
/* Vault */
.content-wrapper{
    padding: 24px 2%;
    background-color: var(--bg-green);
    height: 100%;
}

.content-wrapper .info-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}

.content-wrapper .asset-chart-section{
    border-radius: 8px;
    background: var(--white);
    box-shadow: 1px 3.500000238418579px 5.500000476837158px 3px rgba(0, 0, 0, 0.05);
    padding: 16px 24px;
    margin-bottom: 24px;
}

.content-wrapper .vaults-chart-section .title{
    color: var(--text-primary);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 24px;
}

.content-wrapper .vaults-chart-section .vault-charts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-wrapper .investment-summary .title{
    color: var(--text-primary);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 24px;
}

.content-wrapper .investment-summary .investment-table{
    border-radius: 8px;
    background: var(--white);
    padding: 24px;
    box-shadow: 1px 3.500000238418579px 5.500000476837158px 3px rgba(0, 0, 0, 0.05);
}

.content-wrapper .investment-summary .investment-table table thead tr th{
    color: var(--text-t);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 18px */
}

.content-wrapper .investment-summary .investment-table table tbody tr td{
    color: #2D3748;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-wrapper .investment-summary .investment-table table tbody tr .title{
    font-weight: 600;
    color: #2D3748;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.content-wrapper .investment-summary .investment-table table tbody tr .icon {
    margin-right: 8px;
}

.content-wrapper .investment-summary .investment-table table tbody tr .icon .iconify{
    font-size: 24px;
    color: #5F7A6F;
}