@font-face{
    font-family:"Helvetica";
    src:url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("woff"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("opentype"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("truetype");
}

:root {
    --main: #0E5839;
    --white: #ffffff;
    --poppins: 'Poppins';
    --text-primary: #000000;
    --text-secondary: #555;
    --bg-green: #F2F7F5;
    --gray-gray-700: #2D3748;
    --text-t: #999;
    --gray-gray-700: #2D3748;
}

html * {
    font-family: var(--poppins);
}

body{
    padding: 0px !important;
    margin: 0px !important;
}

.container{
    margin: 0px !important;
    padding: 0px !important;
}

.connector-button{
    padding: 24px;
    margin-bottom: 24px;
    width: 100%;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid var(--main);
    font-size: 14px;
    color: var(--main);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn-icon{
    margin-top: -2px;
}

.btn-left{
    margin-right: 16px;
}

.text-icon{
    margin-top: 5px;
}

.helvetica-text{
    font-family: 'Helvetica' !important;
    
}

.btn-primary{
    border-radius: 8px !important;
    background: var(--main) !important;
    border-color: var(--main) !important;
    color: var(--white) !important;
}

.btn-primary-text{
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: normal !important;
}

.btn-primary:hover{
    background: var(--white) !important;
    border-color: var(--main) !important;
    color: var(--main) !important;
}

.btn-secondary{
    border-radius: 8px !important;
    background: var(--white) !important;
    border-color: var(--white) !important;
    color: var(--main) !important;
}

.btn-secondary:hover{
    border-color: var(--main) !important;
    color: var(--main) !important;
}

.btn-light{
    border: none !important;
    background: transparent !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 150% !important; /* 21px */
    color: var(--text-secondary) !important;
    margin-right: 8px !important;
}

.btn-light:hover,
.btn-light.active{
    border: 1.5px solid var(--main) !important;
    border-radius: 100px !important;
    box-shadow: 0px 1.9999998807907104px 5.499999523162842px 0px rgba(0, 0, 0, 0.06) !important;
    color: var(--main) !important;
    
}

.btn-link{
    border-radius: 8px !important;
    border: 1px solid  #DEDEDE !important;
    background-color: transparent !important;
    color: var(--text-secondary) !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: normal !important;
    text-decoration: none !important;
}

/* Connect Modal */
.main-modal{
    border: none !important;
    border-radius: 8px !important;
}

.main-modal .modal-header{
    padding: 16px 24px !important;
}

.main-modal .modal-header .modal-title{
    color: var(--text-primary);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
}

.main-modal .modal-header .btn-close{
    opacity: 1 !important;
    box-sizing: border-box !important;
}

.main-modal .modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-modal .modal-body .connect-type-btns,
.main-modal .modal-body .connect-info,
.main-modal .modal-body .qr-code{
    margin-bottom: 16px;
}

.main-modal .modal-body .connect-info{
    color: var(--text-secondary);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}

.main-modal .modal-body .copy-text{
    cursor: pointer;
    color: var(--main);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
}

.main-modal .modal-body .sectionTranx,
.main-modal .modal-body .sectionReceive{
    width: 100%;
    margin-top: 24px;
    margin-bottom: 32px;
}

.main-modal .modal-body .sectionTranx .tranxMax{
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-modal .modal-body .sectionTranx .tranxMax .key{
    color: var(--text-secondary);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 19.6px */
}

.main-modal .modal-body .sectionTranx .tranxMax .value{
    display: flex;
    flex-direction: row;
}

.main-modal .modal-body .sectionTranx .tranxMax .value .balance{
    color: var(--text-secondary);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
    margin-right: 8px;
}

.main-modal .modal-body .sectionTranx .tranxMax .value .max{
    border-radius: 8px;
    border: 1px solid var(--main);
    background: rgba(14, 88, 57, 0.20);
    cursor: pointer;
    padding: 4px 8px;
    color: var(--main);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    bottom: 7px;
}

.main-modal .modal-body .sectionTranx .tranxDetail{
    padding: 16px;
    border-radius: 16px;
    border: 1px solid var(--main);
    background: rgba(14, 88, 57, 0.08);
    display: flex;
    flex-direction: row;
}

.main-modal .modal-body .sectionReceive .tranxDetail{
    flex-direction: column;
}

.main-modal .modal-body .sectionReceive .tranxDetail .t-wrapper{
    display: flex;
    flex-direction: row;
}

.main-modal .modal-body .sectionReceive .tranxDetail .summary-bx{
    margin-top: 16px;
    border-top: 1px solid var(--text-t);
    padding-top: 8px;
}

.main-modal .modal-body .sectionReceive .tranxDetail .summary-bx .detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 18px;
}

.main-modal .modal-body .sectionReceive .tranxDetail .summary-bx .detail .text{
    color: var(--text-primary);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
}

.main-modal .modal-body .sectionReceive .tranxDetail .summary-bx .detail .text-s{
    font-weight: 400;
    display: none;
    transition: display 0.3s ease-in 0s;
}

.main-modal .modal-body .sectionReceive .tranxDetail .summary-bx .open.detail .text-s{
    display: block;
}

.main-modal .modal-body .sectionReceive .tranxDetail .summary-bx .detail .icon{
    cursor: pointer;
    padding: 0px 0px;
}

.main-modal .modal-body .sectionReceive .tranxDetail .summary-bx .detail .icon .iconify{
    font-size: 12px;
    color: var(--text-secondary);
    position: relative;
    bottom: 10px;
    transition: transform 0.3s ease-in 0s;
}

.main-modal .modal-body .sectionReceive .tranxDetail .summary-bx .detail .opened.icon .iconify{
    transform: rotate(-90deg);
}

.main-modal .modal-body .sectionReceive .tranxDetail{
    border: 1px solid #DEDEDE;
    background: #DEDEDE;;
}

.main-modal .modal-body .sectionTranx .tranxDetail .tranx-select-form{
    margin-right: 16px;
    position: relative;
    top: 7px;
}

.main-modal .modal-body .sectionTranx .tranxDetail .tranx-select-form .input-group{
    border-radius: 16px !important;
    background: rgba(14, 88, 57, 0.10) !important;
    border: none !important;
}

.main-modal .modal-body .sectionReceive .tranxDetail .tranx-select-form .input-group{
    background: #D4D4D4 !important;
}


.main-modal .modal-body .sectionTranx .tranxDetail .tranx-select-form .input-group .input-group-text{
    border: none !important;
    background-color: transparent !important;
}

.main-modal .modal-body .sectionTranx .tranxDetail .tranx-select-form .input-group .input-group-text .iconify{
    font-size: 20px;
    color: var(--text-t);
}

.main-modal .modal-body .sectionTranx .tranxDetail .tranx-select-form .input-group .form-select{
    border: none !important;
    background-color: transparent !important;
    color: var(--text-primary);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main-modal .modal-body .sectionTranx .tranxDetail .values .value{
    color: var(--text-primary);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 28px */
}

.main-modal .modal-body .sectionReceive .tranxDetail .values .value{
    color: var(--text-secondary);
}

.main-modal .modal-body .sectionTranx .tranxDetail .values .sub-value{
    color: var(--text-secondary);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
}

.main-modal .modal-body .sm-modal-body{
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.main-modal .modal-body .sm-modal-body .sm-icon{
    margin-bottom: 16px;
    border-radius: 100px;
    border: 3px solid var(--main);
    padding: 12px;    
}

.main-modal .modal-body .sm-modal-body .sm-icon .iconify{
    font-size: 24px;
    color: var(--main);
}

.main-modal .modal-footer{
    border: none !important;
}

.main-modal .modal-body .sm-modal-body .sm-modal-text{
    color: var(--text-secondary);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 19.6px */
}

/*  Card */

.blog-card,
.twitter-card{
    width: 355px !important;
    margin-bottom: 24px;
}
.blog-card .card-body{
    padding: 24px !important;
}

.twitter-card .card-body{
    padding: 32px !important;
}

.card .card-body .card-title{
    color: var(--main);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card .card-body .card-text{
    color: var(--text-secondar);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card .card-body .card-foot-text{
    font-weight: 500;
}

.card .card-body .blog-card-btn{
    color: var(--white);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.twitter-card .card-body .card-text{
    display: flex;
    flex-direction: column;
}

.twitter-card .card-body .card-text .user{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.twitter-card .card-body .card-text .user .dp{
    width: 64px;
    height: 64px;
    border-radius: 64px;
    margin-right: 16px;
}

.twitter-card .card-body .card-text .user .user-info{
    display: flex;
    flex-direction: column;
}

.twitter-card .card-body .card-text .user .user-info .handle{
    color: var(--text-secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.twitter-card .card-body .card-text .user .user-info .name-icon{
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.twitter-card .card-body .card-text .user .user-info .name-icon .name{
    color: var(--text-primary);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 10px;
}

.twitter-card .card-body .card-text .user .user-info .name-icon .icon .iconify{
    font-size: 24px;
    color: #1DA1F2;
    margin-top: 2px;
}

.twitter-card .card-body .card-text .tweet{
    color: var(--text-secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}

.twitter-card .card-body .card-text .footer-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.twitter-card .card-body .card-text .footer-info .user-timestamp,
.twitter-card .card-body .card-text .footer-info .seperator,
.twitter-card .card-body .card-text .footer-info .device{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.twitter-card .card-body .card-text .footer-info .user-timestamp,
.twitter-card .card-body .card-text .footer-info .seperator{
    color: var(--text-secondary);
}

.twitter-card .card-body .card-text .footer-info .device{
    color: #2AA3EF;
    letter-spacing: -0.42px;
}

.info-card{
    border-radius: 8px !important;
    border: none !important;
    box-shadow: 1px 3.500000238418579px 5.500000476837158px 3px rgba(0, 0, 0, 0.05);
    /* width: 31% !important; */
    /* min-width: 370px; */
    height: 82px !important;
}

.rowOf3{
    width: 31% !important;
}

.rowOf4{
    width: 24% !important;
}

.info-card .card-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.info-card .card-body .info-content .key{
    color: var(--text-t);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 18px */
    margin-bottom: 4px;
}

.info-card .card-body .info-content .value{
    color: var(--gray-gray-700);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 28px */
}

.info-card .card-body .info-icon{
    width: 45px;
    height: 45px;
    background-color: var(--main);
    border-radius: 8px;
    padding: 10px 12px;
}

.info-card .card-body .info-icon .iconify{
    font-size: 21px;
    color: var(--white);
}
.vault-chart-card{
    border: none !important;
    min-width: 370px !important;
    margin-bottom: 24px;
    cursor: pointer;
}

.vault-chart-card .card-body .chart-title-section{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.vault-chart-card .card-body .chart-title-section .icon{
    margin-right: 8px;
}

.vault-chart-card .card-body .chart-title-section .icon .iconify{
    font-size: 32px;
    color: #5F7A6F;
}

.vault-chart-card .card-body .chart-title-section .title{
    color: var(--text-primary);
    margin-top: 2px;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
}

.vault-chart-card .card-body .chart-text{
    margin-bottom: 8px;
}

.vault-chart-card .card-body .chart-text .key{
    color: var(--text-t);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 18px */
    margin-bottom: 3px;
}

.vault-chart-card .card-body .chart-text .value{
    color: var(--text-primary);
    font-family: 'Helvetica' !important;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 25.2px */
}

.vault-chart-card .card-body .chart-text .value span{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 19.6px */
}

.green{
    color: #48BB78;
}

.red{
    color: #E53E3E;
}

/* Accordion */
.custom-accordion{
    width: 100%;
}

.custom-accordion .accordion-card{
    display: flex !important;
    padding: 0px !important;
    flex-direction: column;
    border-radius: 8px !important;
    background: var(--white) !important;
    margin-bottom: 24px;
    border: none !important;
    transition: border 0.3s ease-in 0s;

}

.custom-accordion .opened-wrap.accordion-card{
    border: 2px solid var(--main) !important;
    border-radius: 8px !important;

}

.custom-accordion .accordion-card .accordion-header-wrapper{
    background: var(--white) !important;
    border-radius: 8px !important;
    width: 100%;
    height: 100%;
}
.custom-accordion .accordion-card .accordion-header-wrapper .accordion-header{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    padding: 24px !important;
    width: 100%;
    height: 100%;
    background: var(--white) !important;
    border-radius: 8px !important;
    border: none !important;
}

.custom-accordion .accordion-card .accordion-header-wrapper .accordion-header .accordion-text{
    color: var(--text-primary);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.custom-accordion .accordion-card .accordion-header-wrapper .accordion-header .icon-wrapper{
    background: var(--white);
    padding: 1.5px 2px;
    box-shadow: 1px 3.500000238418579px 5.500000476837158px 3px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    transition: all 0.3s ease-in 0s;
    transition-property: background-color, transform;
}

.custom-accordion .opened-wrap.accordion-card .accordion-header-wrapper .accordion-header .icon-wrapper{
    background-color: var(--main);
    transform: rotate(90deg);
}

.custom-accordion .accordion-card .accordion-header-wrapper .accordion-header .icon-wrapper .iconify{
    font-size: 32px;
    color: var(--main);
    transition: all 0.3s ease-in 0s;
    transition-property: color;
}

.custom-accordion .opened-wrap.accordion-card .accordion-header-wrapper .accordion-header .icon-wrapper .iconify{
    color: var(--white);
}

.custom-accordion .accordion-card .card-body .content{
    color: var(--text-secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Frame */
.frame-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

.frame-wrapper .side-nav{
    min-width: 232px;
    height: 100vh;
    background: #083321;
    position: sticky;
    top: 0;
    left: 0;
}

.frame-wrapper .side-nav .side-nav-wrapper{
    width: 100%;
    padding: 32px 10.3%;

}

.frame-wrapper .side-nav .side-nav-wrapper .logo{
    margin-bottom: 32px;
    cursor: pointer;
}

.frame-wrapper .side-nav .side-nav-wrapper .side-nav-links{
    display: flex;
    flex-direction: column;
}

.frame-wrapper .side-nav .side-nav-wrapper .side-nav-links a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    padding: 8px;
    width: 100%;
}

.frame-wrapper .side-nav .side-nav-wrapper .side-nav-links a .icon{
    margin-right: 8px;
    padding: 8px 12px;
    border-radius: 50%;
    background: var(--white);
    box-shadow: 0px 3.500000238418579px 5.500000476837158px 0px rgba(0, 0, 0, 0.02);
}

.frame-wrapper .side-nav .side-nav-wrapper .side-nav-links a .icon .iconify{
    font-size: 16px;
    color: var(--main);
}

.frame-wrapper .side-nav .side-nav-wrapper .side-nav-links a .link-text{
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    top: 9px;
}

.frame-wrapper .side-nav .side-nav-wrapper .side-nav-links .active{
    border-radius: 8px;
    background: var(--white);
    box-shadow: 0px 3.500000238418579px 5.500000476837158px 0px rgba(0, 0, 0, 0.02);
}

.frame-wrapper .side-nav .side-nav-wrapper .side-nav-links .active .icon{
    background: var(--main);
}

.frame-wrapper .side-nav .side-nav-wrapper .side-nav-links .active .icon .iconify{
    color: var(--white);
}

.frame-wrapper .side-nav .side-nav-wrapper .side-nav-links .active .link-text{
    color: var(--gray-gray-700);
}

.frame-wrapper .body-contents{
    width: 100%;
}

/* Header */
header{
    display: flex;
    width: 100%;
    padding: 16px 1.6%;
    background: var(--white);
    box-shadow: 1px 3.500000238418579px 5.500000476837158px 3px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    right: 0;
    z-index: 4;
}

header .home-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

header .other-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

header .other-header .indicator{
    margin-right: -3px;
}

header .other-header .indicator .iconify{
    font-size: 16px;
    color: #D9D9D9;
    position: relative;
    top: 3px;
}

header .other-header .select-dropdowns{
    margin-right: 20px;
}

header .other-header .select-dropdowns .form-select{
    border: none;
    color: var(--text-secondary);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

header .other-header .dropdown .btn-success{
    background-color: transparent !important;
    border: 1px solid transparent !important;
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 10px;

}

header .other-header .dropdown .btn-success .dropdown-btn-wrapper .con-wallet{
    color: var(--text-t);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4px;
}

header .other-header .dropdown .btn-success .dropdown-btn-wrapper .con-address{
    color: var(--text-secondary);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

header .other-header .dropdown .btn-success::after{
    color: var(--text-secondary);
    position: relative;
    top: 20px;
}

/* Footer */
footer{
    background: var(--text-primary);
    padding: 96px 11%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer .footer-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* gap: 34px; */
    align-self: stretch;
}

footer .footer-wrapper .footer-info .footer-logo{
    margin-bottom: 24px;
}

footer .footer-wrapper .footer-info .info{
    color: var(--white);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 400px;
}

footer .footer-wrapper .footer-links ul{
    margin-top: 10px;
}

footer .footer-wrapper .footer-socials .icons ul{
    margin-top: -10px;
}

footer .footer-wrapper .footer-links ul,
footer .footer-wrapper .footer-socials .icons ul{
    list-style-type: none;
    padding-left: 0px !important;
}

footer .footer-wrapper .footer-links ul li{
    margin-bottom: 16px;
}

footer .footer-wrapper .footer-links ul li a{
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

footer .footer-wrapper .footer-links ul li a:hover{
    text-decoration: underline;
}

footer .footer-wrapper .footer-socials .icons ul{
    display: flex;
    flex-direction: row;
    margin-bottom: 41.5px;
}

footer .footer-wrapper .footer-socials .icons ul li{
    margin-right: 16px;
}

footer .footer-wrapper .footer-socials .icons ul li a{
    color: var(--white);
    font-size: 29px;
}

footer .footer-wrapper .footer-socials .footer-sub-form{
    width: 100%;
}

footer .footer-wrapper .footer-socials .footer-sub-form .form-label{
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 8px;
}

footer .footer-wrapper .footer-socials .footer-sub-form .sub-form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .footer-wrapper .footer-socials .footer-sub-form .sub-form .sub-input{
    width: 60%;
}

footer .footer-wrapper .footer-socials .footer-sub-form .sub-form .sub-btn{
    width: 35%;
}

footer .footer-wrapper .footer-socials .footer-sub-form .sub-form .sub-input input,
footer .footer-wrapper .footer-socials .footer-sub-form .sub-form .sub-input input::placeholder{
    color: var(--text-secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%
}

/* Home */
.landing{
    width: 100vw;
    background: var(--main);
    display: inline-flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 560px;
    z-index: 1;
}

.landing .elipse{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/loading.png);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 2;
}

.landing .landing-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.landing .landing-content .title{
    color: var(--white);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 17px;
}

.landing .landing-content .sub-title{
    color: var(--white);
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 40px;
}

.landing .landing-content .landing-btn .btn-secondary{
    padding: 12px 16px !important;
}

.latest-blog,
.latest-tweets,
.faqs{
    padding: 104px 11%;
    display: inline-flex;
    flex-direction: column;
    width: 100vw;
}

.latest-blog, .faqs{
    background: var(--bg-green);
}


.latest-blog .header,
.latest-tweets .header,
.faqs .header{
    margin-bottom: 48px;
    color: var(--text-primary);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.latest-blog .blog-cards,
.latest-tweets .tweet-cards,
.faqs .accordion-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Other Pages */
/* Vault */
.content-wrapper{
    padding: 24px 2%;
    background-color: var(--bg-green);
    height: 100%;
}

.content-wrapper .info-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}

.content-wrapper .asset-chart-section{
    border-radius: 8px;
    background: var(--white);
    box-shadow: 1px 3.500000238418579px 5.500000476837158px 3px rgba(0, 0, 0, 0.05);
    padding: 16px 24px;
    margin-bottom: 24px;
}

.content-wrapper .asset-chart-section .chart-card-title{
    margin-bottom: 24px;
}

.content-wrapper .asset-chart-section .chart-card-title .sub-title{
    margin-bottom: 4px;
    color: var(--text-t);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 18px */
}

.content-wrapper .asset-chart-section .chart-card-title .title{
    color: var(--gray-gray-700);
    font-family: 'Helvetica';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 44.8px */
}

.content-wrapper .asset-chart-section .chart-card-title .title span{
    font-family: 'Helvetica';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
    position: relative;
    bottom: 5px;
}

.positive{
    color: #48BB78 !important;
}

.negative{
    color: rgba(229, 62, 62) !important;
}

.content-wrapper .vaults-chart-section .title{
    color: var(--text-primary);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 24px;
}

.content-wrapper .vaults-chart-section .vault-charts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-wrapper .investment-summary {
    margin-bottom: 24px;
}

.content-wrapper .investment-summary .title{
    color: var(--text-primary);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 24px;
}

.content-wrapper .investment-summary .investment-table{
    border-radius: 8px;
    background: var(--white);
    padding: 24px;
    box-shadow: 1px 3.500000238418579px 5.500000476837158px 3px rgba(0, 0, 0, 0.05);
}

.content-wrapper .investment-summary .investment-table table thead tr th{
    color: var(--text-t);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 18px */
}

.content-wrapper .investment-summary .investment-table table tbody tr td{
    color: #2D3748;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-wrapper .investment-summary .investment-table table tbody tr .title{
    font-weight: 600;
    color: #2D3748;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.content-wrapper .investment-summary .investment-table table tbody tr .icon {
    margin-right: 8px;
}

.content-wrapper .investment-summary .investment-table table tbody tr .icon .iconify{
    font-size: 24px;
    color: #5F7A6F;
}

.content-wrapper .go-back{
    margin-bottom: 24px;
    color: var(--main);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.content-wrapper .go-back .iconify{
    font-size: 24px;
    color: var(--main);
}

.content-wrapper .vault-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 24px;
}

.content-wrapper .vault-header .title,
.content-wrapper .vault-header .btns{
    display: flex;
    flex-direction: row;
}

.content-wrapper .vault-header .title{
    color: var(--text-primary);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.content-wrapper .vault-header .title .iconify{
    font-size: 40px;
    color: #5F7A6F;
    margin-right: 24px;
}

.content-wrapper .vault-header .btns button{
    padding: 12px 35px !important;
    
}

.content-wrapper .vault-table-section{
    padding: 24px;
    border-radius: 8px;
    background-color: var(--white);
    margin-bottom: 24px;
}

.content-wrapper .vault-table-section .table>:not(caption)>*>* {
    border-bottom: 1px solid #E2E8F0;
    padding: 16px 24px;
    background-color: transparent !important;
}

.content-wrapper .vault-table-section .table thead tr th{
    color: var(--text-t);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 18px */
}

.content-wrapper .vault-table-section .table tbody tr td{
    color: var(--gray-gray-700);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 100%;
}

.content-wrapper .vault-table-section .table tbody tr td .table-unit-value{
    color: var(--text-primary);
}

.content-wrapper .vault-table-section .table tbody tr td .table-unit{
    color: var(--text-t);
}

.content-wrapper .vault-table-section .table tbody tr td .table-row-1-icon-text{
    margin-bottom: 9px;
}

.table-row-1{
    width: 25%;
}

.content-wrapper .vault-table-section .table tbody tr td .table-row-1-icon-text .iconify{
    color: #5F7A6F;
    font-size: 24px;
}

.content-wrapper .vault-table-section .table tbody tr td .table-row-1-icon-text .table-text{
    color: var(--gray-gray-700);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.content-wrapper .vault-table-section .table tbody tr td .table-row-1-progress .progress{
    height: 8px;
    width: 100%;
}

.content-wrapper .vault-table-section .table tbody tr td .table-row-1-progress .progress .progress-bar{
    background: linear-gradient(90deg, #588371 0%, #B0E199 100%);
}

.content-wrapper .vault-table-section  .see-more{
    cursor: pointer;
    color: var(--main);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.content-wrapper .vault-table-section .table .table-divider tr td {
    color: var(--text-secondary);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 18px */
}

.content-wrapper .vault-table-section .table .secondary-body{
    border-radius: 8px;
    background: rgba(14, 88, 57, 0.05);
}

.content-wrapper .vault-about{
    border-radius: 8px;
    background: var(--white);
    padding: 24px;
    /* shadow/1 */
    box-shadow: 1px 3.500000238418579px 5.500000476837158px 3px rgba(0, 0, 0, 0.05);
}

.content-wrapper .vault-about .header{
    margin-bottom: 24px;
    color: var(--text-primary);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.content-wrapper .vault-about .sub-about{
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #DEDEDE;
}

.content-wrapper .vault-about .sub-about .sub-header{
    margin-bottom: 24px;
    color: var(--text-primary);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.content-wrapper .vault-about .sub-about .content{
    color: var(--text-secondary);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}

/* Mobile Responsiveness */
@media (max-width: 1100px) {
    .custom-accordion .accordion-card .accordion-header-wrapper .accordion-header .accordion-text{
        font-size: 16px;
    }

    .custom-accordion .accordion-card .card-body .content{
        font-size: 14px;
    }
}

@media (max-width: 870px) {
    .custom-accordion .accordion-card .accordion-header-wrapper .accordion-header .accordion-text{
        font-size: 14px;
    }

    .custom-accordion .accordion-card .card-body .content{
        font-size: 12px;
    }

    .latest-blog .blog-cards,
    .latest-tweets .tweet-cards{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
}

@media (max-width: 743px) {
    footer .footer-wrapper .footer-info .info{
        font-size: 24px;
    }

    footer .footer-wrapper .footer-links ul li a {
        font-size: 14px;
    }

    footer .footer-wrapper .footer-socials .footer-sub-form .form-label{
        font-size: 14px;
    }

    .custom-accordion .accordion-card .accordion-header-wrapper .accordion-header .accordion-text{
        font-size: 12px;
    }
}

@media (max-width: 576px){
    .latest-blog .header, .latest-tweets .header, .faqs .header,
    .latest-blog .header, .latest-tweets .header, .faqs .header,
    .latest-blog .header, .latest-tweets .header, .faqs .header{
        font-size: 24px;
    }

    footer .footer-wrapper .footer-socials .footer-sub-form .sub-form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    footer .footer-wrapper .footer-socials .footer-sub-form .sub-form input,
    footer .footer-wrapper .footer-socials .footer-sub-form .sub-form .sub-btn
    {
        width: 100%;
    }

    footer .footer-wrapper .footer-socials .footer-sub-form .sub-form .sub-input{
        margin-bottom: 8px;
        width: 100%;

    }

    footer .footer-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }

    footer .footer-wrapper .footer-info,
    footer .footer-wrapper .footer-links,
    footer .footer-wrapper .footer-socials{
        margin-bottom: 16px;
    }

    footer .footer-wrapper .footer-socials .footer-sub-form .sub-form .sub-input input{
        font-size: 12px;
    }

    .custom-accordion .accordion-card .accordion-header-wrapper .accordion-header .icon-wrapper .iconify {
        font-size: 24px;
    }
}

@media (max-width: 463px){
    header .home-header img{
        width: 190px;
    }

    .landing .landing-content .title{
        font-size: 16px;
    }

    .landing .landing-content .sub-title {
        font-size: 24px;
    }

    .custom-accordion .accordion-card .accordion-header-wrapper .accordion-header .accordion-text{
        font-size: 12px;
    }
}

@media (max-width: 407px){
    .blog-card, .twitter-card{
        width: 280px !important;
    }

    .twitter-card .card-body .card-text .user .user-info .name-icon .name {
        font-size: 16px;
    }

    .twitter-card .card-body .card-text .user .user-info .handle{
        font-size: 14px;
    }

    .twitter-card .card-body .card-text .tweet {
        font-size: 14px;
    }

    .twitter-card .card-body .card-text .footer-info .user-timestamp, 
    .twitter-card .card-body .card-text .footer-info .seperator, 
    .twitter-card .card-body .card-text .footer-info .device {
        font-size: 12px;
    }

    .custom-accordion .accordion-card .accordion-header-wrapper .accordion-header .accordion-text {
        font-size: 10px;
    }
}